body {
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  padding: 1rem;
}

.MainContainer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
}

.topBar {
  width: 110%;
  display: flex;
  justify-content: space-around;
  margin: 0%;
  padding: 0%;
  color: rgb(134, 128, 128);
  align-items: baseline;
}
.topBar h3 {
  font-weight: lighter;
}

.songLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 0;
}
.SongTile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coverImg {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.keys {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  color: rgb(134, 128, 128);
}
.seekBar {
  width: 90%;
  margin-top: 1rem;
}
.timestamp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(134, 128, 128);
}
.previousSong {
  display: flex;
  justify-content: space-between;
  color: rgb(158, 153, 153);
}
.songDescription status nextSongs {
  color: rgb(158, 153, 153);
}
.nextSong,
song {
  color: rgb(133, 127, 127);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.currentSong {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.allsongs {
  width: 100%;
}
.dot {
  color: lightseagreen;
}
.liveSong {
  display: flex;
  gap: 0.2rem;
}
.liveSong h4 {
  font-weight: normal;
}
.currentSong h4 {
  font-weight: normal;
}
.songName {
  font-size: small;
  font-weight: lighter;
  text-align: center;
}
